VITE_WHATSAPP_NUMBER=919876543210
VITE_CONTACT_PHONE=+91 98765 43210
VITE_CONTACT_EMAIL=hello@example.com
VITE_INSTAGRAM_URL=https://instagram.com/your_profile
VITE_FACEBOOK_URL=https://facebook.com/your_page
VITE_YOUTUBE_URL=https://youtube.com/@your_channel
